<p>Hola! It's <%= Time.now %></p>



<p><%= link_to 'Hello!', welcome_say_hello_path, :remote => true, :id => "ajax-load" %></p>


<div id="foobar">
</div>

<script>
    $(document).ready(function() {

        $('#ajax-load').click( function(){
            $('#foobar').load( $(this).attr("href") );
            return false;
        });

    });
</script>
